@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

body{
    background-color: var(--box-odd-bg-color);
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    padding: 15px;
    font-family: 'Mohave', sans-serif;
    box-sizing: border-box;
    color: var(--box-even-bg-color);
}

main #contato{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

main #ache{
    min-width: 320px;
    width: 40%;
}

main i{
    font-size: 30px;
    margin-right: 10px;
}

#ache p:nth-child(-n+4){
    border-bottom: 1px solid var(--box-even-bg-color)
}

main p {
    font-size: 25px;
    padding: 5px 0px;
    text-align: center;
}


#ache{
    margin-left: 10px;
    padding: 10px 0;
    height: max-content;
    width: max-content;
    box-sizing: border-box;
    border: 1px solid var(--box-even-bg-color);
}

.footer a{
    color: var(--box-even-bg-color);
    height: 40px;
    line-height: 40px;
}

.footer i{
    margin-left: 5px;
    box-sizing: border-box;
    border: 1px solid var(--box-even-bg-color);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.footer a:hover i{
    background-color: var(--box-even-bg-color);
    color: var(--color-black);
}

@media screen and (max-width: 930px){
    main #ache{
        margin: 1rem 0 0;
    }    
}