@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

main {
    width: 920px;
    margin: 0px auto 10px;
    padding: 15px;
    font-family: 'Mohave', sans-serif;
}

main #contato{
    display: flex;
}

main i{
    font-size: 30px;
    margin-right: 10px;
}

#ache p:nth-child(-n+5){
    border-bottom: 1px solid rgb(75, 54, 0);
}

main p {
    font-size: 25px;
    padding: 5px 0px;
    margin: 0 10px;
}


#ache{
    margin-left: 10px;
    padding: 10px 0;
    height: max-content;
    width: 322px;
    box-sizing: border-box;
}