@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

/*CABEÇALHO*/

header{
    font-size: 1em;
    font-family: Palatino, "URW Palladio L", serif;
    color: var(--box-odd-bg-color);
    padding: 15px;
    background: var(--box-even-bg-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 10px 15px #212121;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.menu{
    display: none;
}

.clear{
    clear:both
}

/*Titulo*/

#area-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slogan{
    font-size: 1.6rem;
    margin-left:40px;
    font-family: 'Lobster', cursive;
    font-weight: normal;
}

#slogan p{
    margin: 10px 0;
    color: var(--color-black);
}

/*Navegacao*/

#menu_bar{
    display: none;
}

header ul{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

header a{
    display: inline-block;
    padding: 10px;
    color: rgb(235, 235, 235);
    font-weight: bold;
    font-size: 1rem;
}

header .contato{
    background-color: var(--box-odd-bg-color);
    color: var(--box-even-bg-color);
    width: max-content;
}

header a::after{
    content: "";
    width: 0px;
    height: 1px;
    background-color: var(--color-black);
    display: block;
    margin: 0 auto;
}

header a:hover::after{
    content: "";
    width: inherit;
    background-color: var(--color-black);
    display: block;
}

.contato:hover::after{
    background-color: black;
}

@media screen and (max-width:1110px){
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:720px) {
    header{
        flex-direction: row;
        padding: 15px 0;
    }
    nav{
        display: none;
    }
    #menu_bar{
        display: inline-block;
        font-size: 2rem;
        cursor: pointer;
        padding: 10px;
    }
    .active{
        display: inline-block;
        width: 100%;
    }
    .active ul{
        flex-direction: column; 
        align-items: center;
        width: 100%;
    }
    .active ul li{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .active ul li:nth-child(-n+5){
        border-bottom: 1px solid var(--box-odd-bg-color)
    }
}

@media screen and (max-width: 500px) {
    #area-logo{
        flex-direction: column;
        justify-content: center;
    }
    #slogan{
        text-align: center;
        margin-left: 0;
    }
    #slogan p{
        font-size: 1.4rem;
    }
}