@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

/*CABEÇALHO*/

header {
    font-size: 1em;
    font-family: Palatino, "URW Palladio L", serif;
    color: var(--box-odd-bg-color);
    padding: 0, 15px;
    background: var(--box-even-bg-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 10px 15px #212121;
    position: sticky;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 116px;
    box-sizing: border-box;
}

.menu {
    display: none;
}

.clear {
    clear: both
}


/*Titulo*/

#area-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slogan {
    font-size: 1.6rem;
    margin-left: 40px;
    font-family: 'Lobster', cursive;
    font-weight: normal;
}

#slogan p {
    margin: 10px 0;
    color: var(--color-black);
}


/*Navegacao*/

#menu_bar {
    display: none;
}

header ul {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

header a {
    display: inline-block;
    padding: 10px;
    color: rgb(235, 235, 235);
    font-weight: bold;
    font-size: 1rem;
}

header .contato {
    background-color: var(--box-odd-bg-color);
    color: var(--box-even-bg-color);
    width: max-content;
}

header a::after {
    content: "";
    width: 0px;
    height: 1px;
    background-color: var(--color-black);
    display: block;
    margin: 0 auto;
}

header a:hover::after {
    content: "";
    width: inherit;
    background-color: var(--color-black);
    display: block;
}

.contato:hover::after {
    background-color: black;
}


/* @media screen and (max-width:1110px) {
    header {
        flex-direction: column;
    }
} */

@media screen and (max-width:1110px) {
    header {
        padding: 15px 0;
    }
    nav {
        display: none;
        position: fixed;
        right: 0;
        top: 116px;
        background-color: var(--nav);
        backdrop-filter: blur(10px);
    }
    #menu_bar {
        display: inline-block;
        font-size: 2rem;
        cursor: pointer;
        padding: 10px;
    }
    .active {
        display: inline-block;
        width: max-content;
        padding: 15px;
        z-index: 0;
        border-radius: 0 0 12px 12px;
        animation: aparece 1s 1 ease;
    }
    .active ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .active ul li {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1110px) {
    #area-logo {
        justify-content: center;
    }
    #slogan {
        text-align: center;
        margin-left: 0;
    }
    #slogan p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 400px) {
    header img {
        width: 80px;
    }
    #slogan p {
        font-size: 16px;
    }
}

@keyframes aparece {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}