@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

/*CABEÇALHO*/

header{
    font-size: 1em;
    font-family: Palatino, "URW Palladio L", serif;
    color: var(--box-odd-bg-color);
    padding: 15px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 15px #212121;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.clear{
    clear:both
}

/*Titulo*/

#area-logo{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slogan{
    font-size: 1.6rem;
    margin-left:40px;
    font-family: 'Lobster', cursive;
    font-weight: normal;
}

#slogan p{
    margin: 10px 0;
    color: var(--color-black);
}

/*Navegacao*/

header nav{
    margin-right: 3rem;
}

header ul{
    display: flex;
    width: max-content;
}

header a{
    display: inline-block;
    padding: 10px;
    color: rgb(235, 235, 235);
    font-weight: bold;
    font-size: 1rem;
}

a::after{
    content: "";
    width: 0px;
    height: 1px;
    background-color: var(--color-black);
    display: block;
    margin: 0 auto;
    transition: all 1s;
}

a:hover::after{
    content: "";
    width: inherit;
    background-color: var(--color-black);
    display: block;
}