/*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

main {
    font-family: 'Lora', serif;
}

main p, main li{
    font-size: 1.3rem;
    text-align: left;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

main h1{
    text-align: center;
}

.master{
    padding: 60px 0;
}

.color:nth-child(odd){
    background-color: var(--box-odd-bg-color);
    color: var(--box-even-bg-color);
}

.color:nth-child(even){
    background-color: var(--box-even-bg-color);
    color: var(--color-black);
}

.box{
    width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
}


/*Contato*/

.contatoBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contatoBox h1{
    text-align: left;
    margin-bottom: 10px;
}

.contato{
    display: inline-block;
    color:var(--color-black);
    background-color: var(--box-even-bg-color);
    border-radius: 10px;
    padding: 10px;
}

main .contato{
    margin-top: 20px;
}

.contatoBox img, .contatoBox div{
    width: 49%;
    font-size: 1.2rem;
}

/*Sobre*/

main #icons{
    display: flex;
    border-radius: 10px;
    background-color: white;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
    margin: 40px auto;
    color: black;
}

main #icons article img{
    width: 4rem;
    transition: 0.3s linear;
}

main #icons article img:hover{
    width: 5rem;
}

.mvv{
    margin-top: 30px;
}

.num{
    margin-right: 10px;
}

/*Produtos*/

.produtos h1{
    margin-bottom: 10px;
}

.produtos ul{
    margin-top: 20px;
}

.produtos li{
    list-style: circle;
    margin-top: 10px;
}

/*Bancos Parceiros*/

#bancos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bancos h2{
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

#bancos img{
    margin: 5px;
}

/*footer*/

.master .footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.master .footer a{
    color: var(--box-even-bg-color);
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 15px;
    height: 30px;
    line-height: 30px;
}

.master .footer .social i{
    margin-left: 5px;
    box-sizing: border-box;
    border: 1px solid var(--box-even-bg-color);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding:0 0 0 5px;
}

.master .footer a:hover i{
    background-color: var(--box-even-bg-color);
    color: var(--color-black);
}

.master .footer h3{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.arrow i{
    margin-top: 1rem;
    font-size: 3.5rem;
    color: #193473;
}

@media screen and (max-width: 360px) {
    .box{
        width: 75%;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .contatoBox img{
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .box{
        width: 75%;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .contatoBox img{
        display: none;
    }
    .contatoBox div{
        width: 100%;
    }
    main #icons{
        flex-direction: column;
    }
}