@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

main {
    width: 920px;
    margin: 0px auto 10px;
    padding: 15px;
    font-family: 'Mohave', sans-serif;
}

main nav{
    margin: 20px 35px 10px 0px;
}

main ul{
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    height: 2rem;
    line-height: 2rem;
}

main > h1{
    text-align: center;
    margin: 15px 20px 0 0;
}

main a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

main a:hover{
    text-decoration: underline;
}

main a h2{
    font-size: 1.5rem;
}

main #icons{
    display: flex;
    border-radius: 10px;
    background-color: white;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
    box-shadow: 7px 7px 7px rgba(185, 185, 185, 0.35);
    margin: 20px 25px 10px;
}

main #icons article img{
    width: 4rem;
    transition: 0.5s linear;
}

main #icons article img:hover{
    width: 5.5rem;
    transition: 0.5s linear;
}

#bancos{
    margin-top: 20px;
}