@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

main{
    width: 920px;
    margin: 0 auto;
    padding: 30px 50px;
    font-family: 'Mohave', sans-serif;
}

main h1{
    font-size: 2rem;
    text-align: center;
}

main ul, p{
    list-style: circle;
    margin: 1rem 1.5rem;
    font-size: 1.5rem;
}

