@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

main{
    width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 50px;
    font-family: 'Mohave', sans-serif;
}

main p{
    font-size: 1.3rem;
}

.mmv p{
    margin-left: 30px;
}

.mmv{
    margin-top: 1.3rem;
}

.num{
    margin-right: 15px;
}

